
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #bf3a30;
background-image: linear-gradient(90deg, #bf3a30 0%, #864ba2 74%);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App{
  display: flex;
  width: 110vmin;
  height: 70vmin;
  margin: 0 auto;
  /* border: 1px solid black; */
  transform: translateY(10%);
  
}


.container{
width: 100%;
height: 100%;
/* border: 1px solid red; */
text-align: center;


}

.landing-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.landing-btn-container{
  width: 50%;
  display: flex;
  flex-direction: column;
}
