
button{
    background: rgba(236, 235, 235, 0.384);
	color: white;
	border: none;
	padding: 0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
	cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;

}

.play-area{
    height:100%;
    display: flex;
    justify-content: space-between;
   background-color: rgba(204, 203, 203, 0.454);
   box-shadow: 0px 5px 40px #0000006c;
   border-radius: 6px;

     
/* h-offset v-offset blur spread color */
}


.player1{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.753);
    /* opacity: 70%; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}

.player2{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.753);
    /* opacity: 50%; */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
   
}

.overlay{
    opacity: 50%;
}
/* .overlay2{
    opacity: 100%;
} */



.dice-container{
    z-index: 3;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}
.button-container{
    height: 6vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.turn-score{
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 30%;
    color: white;
    font-size: 1.5vw;
    background-color:rgba(221, 34, 59, 0.44);
    border-radius: 10%;
    border: 2px solid rgba(255, 255, 255, 0.288);
    
}

.rollBtn{
    z-index: 3;
    width: 12vw;
    min-width: 100px;
    height: 40px;
    
}
.holdBtn{
    z-index: 3;
    width: 6vw;
    height: 40px;
    transform: translateX(50%);
}

.middle-container{
  width: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent; 
}
.turn-and-btns{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}




